<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunThruIt.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RunThruIt.My.MySettings>
            <setting name="profile_name" serializeAs="String">
                <value />
            </setting>
            <setting name="profile_password" serializeAs="String">
                <value />
            </setting>
            <setting name="profile_weight" serializeAs="String">
                <value />
            </setting>
            <setting name="profile_age" serializeAs="String">
                <value />
            </setting>
            <setting name="profile_sex" serializeAs="String">
                <value />
            </setting>
            <setting name="profile_activitylevel" serializeAs="String">
                <value />
            </setting>
            <setting name="log_water" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="log_injury" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="log_workout" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="log_sleep" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="log_weight" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="log_goals" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="set_firsttime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_displaytipsatstartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="profile_picture" serializeAs="String">
                <value />
            </setting>
            <setting name="log_completedgoals" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="set_shoes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="set_inj_totmile_wk1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_inj_totmile_wk2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_inj_wk1_ldate" serializeAs="String">
                <value />
            </setting>
            <setting name="set_inj_wk2_ldate" serializeAs="String">
                <value />
            </setting>
            <setting name="set_log_warncounter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </RunThruIt.My.MySettings>
    </userSettings>
</configuration>